{% extends 'base.html.twig' %}


{% block body %}
<div class="container col-md-6 text-center mt-3">
    <h1 class="text text=bg-success">CartDetail</h1>
    <a class="btn btn-primary" href="{{ path('add_cartdetail' )}}"Add new cartdetail</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>CartDetail Id</th>
            <th>CartDetail quantity</th>
            <th>CartDetail Price</th>

        </tr>
        </thead>
        <tbody>
        {% for cartdetail in cartdetails %}
           <tr>
            <td>{{ cart.id }}</td>
            <td>
            <a class="btn btn-info" href="{{ path('view_cartdetail_by_id', {'id': cart.id })}}">Detail</a>
            <a class="btn btn-danger" href="{{ path('edit_cartdetail', {'i': cart.id })}}">Edit</a>
            <a class="btn btn-warning" href="{{ path('delete_acartdetail', {'id': cart.id })}}"
                onclick = "return confirm('Do you want to delete this cart ?');"
                >Delete</a>
            </td>
           </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
